In [60]:
from sqlalchemy import create_engine
import pandas as pd
from datetime import date, datetime
import time
from concurrent.futures import ProcessPoolExecutor

In [56]:
# postgresql://username:password@host:port/database
engine = create_engine('postgresql://username:password@demo.3victorsaws.com:5439/demo')


# Enter SQL Statement
sql= '''SELECT depart_date, return_date, sales_date
        FROM spectrum_schema.demand_debot_v1
        WHERE sales_date >= 20200101
        AND origin_city_code = 'EDI';'''

data_frame = pd.read_sql_query(sql, engine)
data_frame.head()

,depart_date,return_date,sales_date,days_btwn_flights,days_btwn_sale_flight
0,20200915,0,20200521,,
1,20200730,20200810,20200521,,
2,20201030,20201113,20200521,,
3,20201031,20201114,20200521,,
4,20201218,20210118,20200521,,

In [79]:
# Define a function to do processing on the data
# e.g. A function to figure out the number of days between departure and return and the number of days
# between sales and departure.
def time_between(row_tuple):
    row_index = row_tuple[0]
    row = row_tuple[1]

    depart_date = datetime.strptime(str(row['depart_date']), '%Y%m%d')
    return_date = datetime.strptime(str(row['return_date']), '%Y%m%d') if row['return_date'] != 0 else 0
    sales_date = datetime.strptime(str(row['sales_date']), '%Y%m%d')
    
    
    between_flights_days = (abs(return_date - depart_date)).days if return_date is not 0 else "NaN"
    
    between_sale_and_departure =  abs(depart_date - sales_date)

    return (between_flights_days, between_sale_and_departure.days)

data_frame = data_frame.iloc[:20000, :]
# print(time_between(data_frame.loc[0]))
print(data_frame['depart_date'].count())
data_frame.head()

20000
   depart_date  return_date  sales_date days_btwn_flights  \
0     20200915            0    20200521
1     20200730     20200810    20200521
2     20201030     20201113    20200521
3     20201031     20201114    20200521
4     20201218     20210118    20200521

  days_btwn_sale_flight
0
1
2
3
4

In [87]:
def main():
    
    days_btwn_sale_flight_queue = []
    days_btwn_flights_queue=[]
    row_index_queue = []
    
    
    executor = ProcessPoolExecutor(max_workers = 4)
    futures = executor.map(time_between, data_frame.iterrows())
    start_time = time.clock()
#     futures = {executor.submit(time_between, data_frame.loc[x]): x for x in range(data_frame['depart_date'].count())} # Get a list of futures from the submitted tasks to the executor
    print("Processing Started!")
    executor.shutdown(True)
    end_time = time.clock()
    print("Processing Ended!")
    print("Time Taken:", end_time - start_time)
    for future in futures:
        days_tuple = future
        days_btwn_flights_queue.append(days_tuple[0])
        days_btwn_sale_flight_queue.append(days_tuple[1])
        
    data_frame['days_btwn_flights'] = days_btwn_flights_queue
    data_frame['days_btwn_sale_flight'] = days_btwn_sale_flight_queue
    
    data_frame.head()
    
if __name__ == '__main__':
    main()

Processing Started!
Processing Ended!
Time Taken: 5.246414000000016
   depart_date  return_date  sales_date days_btwn_flights  \
0     20200915            0    20200521               NaN
1     20200730     20200810    20200521                11
2     20201030     20201113    20200521                14
3     20201031     20201114    20200521                14
4     20201218     20210118    20200521                31

   days_btwn_sale_flight
0                    117
1                     70
2                    162
3                    163
4                    211

In [ ]:
# For 20k rows:
# 1 worker: 5.867838000000006 
# 4 workers: 5.246414000000016 
# No specification: 5.570357999999999